.modal {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -16px;
  left: -16px;
  right: -16px;
  bottom: -16px;
  padding: 16px;
  border-radius: 8px;
  min-width: 100%;
  min-height: 100%;
  background-color: #ffffff;
}

.btnsWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.btn {
  padding: 6px 20px;
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  font-weight: 700;

  transition: all 150ms linear;
  filter: drop-shadow(1px 2px 3px #0a0a1965);

  &:first-child {
    background-color: #eb2e2e;
    border: 1px solid #eb2e2e;
    color: #fff;
  }

  &:first-child:hover,
  &:first-child:focus-visible {
    background-color: #5deb2e;
    border: 1px solid #5deb2e;
    color: #fff;
  }

  &:last-child {
    background-color: #fff;
    border: 1px solid #130bfa;
    color: #1b1818;
  }

  &:last-child:hover,
  &:last-child:focus-visible {
    background-color: #2e60eb;
    border: 1px solid #2e60eb;
    color: #fff;
  }
}

.text {
  display: flex;
  justify-content: center;
  letter-spacing: 0.06em;
  text-align: center;
  line-height: 1.06;
  font-weight: 600;
  align-items: center;

  cursor: default;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
