.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);

  &:hover {
    width: 135px;

    border-radius: 40px;
    transition-duration: 0.3s;
    padding-right: 10px;
  }

  &:active {
    transform: translate(2px, 2px);
  }

  .sign {
    width: 100%;
    font-size: 22px;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
  }

  &:hover .sign {
    width: 50%;
    transition-duration: 0.3s;
    left: 0;
  }

  &:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 16px;
  }
}


@media screen and (max-width: 560px) {
  .wrapper {
    display: inline-block;
  }

  .username {
    display: block;
  }
}